{% extends "base.html" %}

{% block content %}
    <section class="custom_calendar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mx-auto calendar-content">
                    <h3>All Events</h3>
                    <ul>{% for e in events %}
                        <li>{{ e }}</li>
{#                        <li><a href="{{ e.get_absolute_url }}">{{ e }}</a></li>#}
                    {% endfor %}</ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}