{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?34"></script>
    <section class="auth">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mx-auto auth-content">
                    <div class="auth-title">Вход</div>
                    <form method="post">
                        {% csrf_token %}
						{% for field in form %}
	                        <div class="form-group">
							    {{ field.label_tag }}
							    {{ field|add_class:'form-control' }}
                                {{ field.errors }}
	                        </div>
                        {% endfor %}
                        <button type="submit" class="button btn-lg btn-colored d-block w-100">
                            Войти
                        </button>
                       <a href="/account/login/vk-oauth2"><img src=" {% static 'img/vk-btn-1.svg' %}" class="avatar-3" data-toggle="tooltip" title="Login via VKontakte"></a>

                     <div class="w-100"></div>
                             <a href="{% url 'register'%}" class="auth-link register-link" data-test="registry_button">Регистрация</a>
                  </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}