{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <section class="auth">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mx-auto auth-content">
                    <div class="auth-title">Регистрация</div>
                    <form action="." method="post">
                        {% csrf_token %}
                        {% for field in user_form %}
	                        <div class="form-group">
							    {{ field.label_tag }}
							    {{ field|add_class:'form-control' }}
                                {{ field.errors }}
	                        </div>
                        {% endfor %}
                        <button type="submit" class="button btn-lg btn-colored d-block w-100">
                            Зарегистрироваться
                        </button>
                        <a href="{% url "login" %}" class="auth-link register-link" data-test="registry_button">Есть аккаунт? Войти</a>
                        <div class="w-100"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}